---
title: Latest posts
layout: page
navigation: post
---

{% include browse-menu.html %}

{% if paginator.previous_page != nil %}
← <a href="{{ paginator.previous_page_path }}" class="meta" class="earlier-posts">earlier posts</a>
{% endif %}

{% for post in paginator.posts %}
  {% include excerpt.html post=post %}
{% endfor %}

{% if paginator.next_page != nil %}
→ <a href="{{ paginator.next_page_path }}" class="meta" class="later-posts">later posts</a>
{% endif %}

{% include browse-menu.html %}
