<div class="comment">
<div class="comment-avatar">
  {% if include.avatar %}
    <img src="{{ include.avatar }}" alt="">
  {% elsif include.email %}
    <img src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60" alt="">
  {% endif %}
</div>
<div class="comment-author">
  {% unless include.url == '' %}
     <a rel="external nofollow" href="{{ include.url }}" class="comment-author">{{ include.name }}</a>
  {% else %}
     {{ include.name }}
  {% endunless %}
</div>
<div class="comment-timestamp">
  {% if include.date %}
  <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%d %B %Y at %H:%M' }}</time>
  {% endif %}
</div>
<div class="comment-content">{{ include.message | markdownify }}</div>
</div>
