body {
  margin: auto;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-size: 16px;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1.25;
}

/* Links a, a:hover, a:visited
*/

a {
  color: #000000;
}

a.meta {
  color: #800000;
  text-decoration: none;
}

pre code {
    padding: 0px;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  width: 100%;
  padding: 0px 0 40px 0px;
  margin: 0;
  background: url(/asset/imast-mej-orange.jpg) no-repeat scroll top;
}

header h1 {
  font-size: 60px;
  margin: 0px;
  font-weight: bold;
  font-family: Bitter, Georgia, serif;
  color: #000000;
  padding: 60px 0px 0px 60px;
}

header h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  color: #303030;
  margin: 0px;
  padding-left: 60px;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* Footer */
footer {
  margin-top: 60px;
  padding: 20px 0px 20px 60px;
  background: url(/asset/imast-mej-orange.jpg) no-repeat scroll bottom;
}

footer a {
  text-decoration: none;
}

/* Main Content
*/

#content {
  margin: 0px 60px 0px 60px;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%
}

div.browse-posts {
  text-align: right;
  padding-right: 120px;
}

h1.post-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 36px;
  color: #000000;
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

h1 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 36px;
  color: #404040;
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

dt {
  margin-left: 10px;
  margin-top: 10px;
}

dd {
  margin-left: 30px;
}

/* ul li:before { */
/*   content: ">>"; */
/*   font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; */
/*   margin-left: 10px; */
/*   margin-right: 10px; */
/*   float: left; */
/* } */

/* ul li p { */
/*   margin: 0; */
/* } */

blockquote {
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  margin-left: 20px;
  text-wrap: normal;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border: 1px dashed;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
  border: 1px dashed;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #a0a0a0;
  color: #b5e853;
}

/* Navigation (written by an amateur) */

nav {
  margin: 0px 0px 60px 0px;
  padding: 20px 0px 40px 60px;
  background: #e6e0c3;
}

nav a {
  font-family: Helvetica, sans-serif;
  display: block;
  color: #000000;
  font-size: 18px;
  text-align: left;
  margin-right: 30px;
  text-decoration: none;
}

nav a:hover {
  color: #800000;
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  float: left;
  margin: 0;
}

nav ul li:before {
  content: "";
  margin: 0;
}

div.previous-next-post {
  overflow: auto;
  margin: 40px 0px 40px 0px;
}

div.next-post {
  float: left;
}

div.previous-post {
  float: right;
}

a.active {
  color: #800000;
}

/* Drafts */

.draft:before {
  color: #800000;
  content: "(DRAFT) ";
}

/* Excerpt */

div.excerpt {
  padding: 25px 0px 25px 0px;
}

/* .excerpt p { */
/*   display: inline; */
/* } */

div.excerpt-header {
  margin-bottom: 20px;
}

.excerpt-header h3 {
  color: #000000;
  margin: 0px 0px 10px 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
}

.excerpt-header a {
  text-decoration: none;
}

.excerpt-header a:hover {
  text-decoration: underline;
}

.excerpt-header ul {
  padding: 0px;
}

ul.post-info {
  padding: 0px;
  margin: 0px 0px 50px 0px;
}

.excerpt-header ul.post-info {
  padding: 0px;
  margin: 0px 0px 25px 0px;
}

ul.post-info li {
  display: inline;
  list-style: none;
}

li.post-date {
  background: url(./genericons/time.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
}

li.post-author {
  background: url(./genericons/user.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
  margin-left: 35px;
}

li.post-category {
  background: url(./genericons/category.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
  margin-left: 35px;
}

/* Comments */
div.comments {
  margin: 60px 0px 0px 0px;
}

div.comment {
  overflow: auto;
  width: 65%;
  margin: 10px 0px 0px 10px;
}

div.comment-avatar {
  float: left;
  padding: 0px 5px 5px 0px;
}

div.comment-author {
  font-weight: bold;
  font-size: 18px;
}

div.comment-author a {
  text-decoration: none;
}

div.comment-timestamp {
  margin: 15px 0px 5px 0px;
  color: #404040;
}

div.comment-form {
  width: 75%;
}

/* Comments submission */

div.comment-legend {
  font-size: 14px;
  color: #404040;
  width: 65%;
}

.comment-legend a {
  color: inherit;
}

.comment-form legend {
  float: left;
  width: 15%;
}

.comment-form input {
  font-size: 16px;
  width: 50%;
}

.comment-form button {
  font-size: 16px;
}

.comment-form textarea {
  font-size: 16px;
  width: 50%;
}

.comment-form button {
  background: #e6e0c3;
  font-size: 16px;
  border: solid 1px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.comment-form button:hover {
  background-color: #9f8033;
}

.required:after {
  content: "*";
  color: #ff0000;
}
