body {
  margin: auto;
  padding: 0;
  background: #ffffff;
  color: #000000;
  font-size: 16px;
  width: 75%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1.25;
}

/* Links a, a:hover, a:visited
*/

a {
  color: #000000;
}

a.meta {
  color: #800000;
  text-decoration: none;
}

pre code {
    padding: 0px;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  width: 100%;
  border-bottom: 2px dashed #000000;
  padding: 0px 0 5px 0px;
  margin: 0 0 20px 0;
}

header h1 {
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0 0 0 0;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #800000;
  text-shadow: 0 0 10px rgba(90, 40, 40, 0.3);
  -webkit-font-smoothing: antialiased;
}

header h2 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  color: #404040;
  margin: 0px;
}

header a {
  text-decoration: none;
  color: inherit;
}


/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%
}

h1.post-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 200%;
  color: #000000;
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #202020;
}

/* h1, h2, h3, h4, h5, h6 { */
/*   margin: 10px 0 20px 0; */
/* } */


dt {
  margin-left: 10px;
  margin-top: 10px;
}

dd {
  margin-left: 30px;
}

/* ul li:before { */
/*   content: ">>"; */
/*   font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; */
/*   margin-left: 10px; */
/*   margin-right: 10px; */
/*   float: left; */
/* } */

/* ul li p { */
/*   margin: 0; */
/* } */

blockquote {
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  margin-left: 20px;
  text-wrap: normal;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border: 1px dashed;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
  border: 1px dashed;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #a0a0a0;
  color: #b5e853;
}

/* Navigation (written by an amateur) */

nav {
  margin: 0px 0px 60px 0px;
  padding: 0px 0px 10px 0px;
}

nav a {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  display: block;
  color: #000000;
  font-size: 18px;
  text-align: left;
  margin-right: 30px;
  text-decoration: none;
}

nav a:hover {
  color: #800000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  float: left;
  margin: 0;
}

nav ul li:before {
  content: "";
  margin: 0;
}

a.active {
    color: #800000;
}

/* Excerpt */

div.excerpt {
  border-bottom: 2px dashed #a0a0a0;
  padding: 25px 0px 25px 0px;
}

/* .excerpt p { */
/*   display: inline; */
/* } */

div.excerpt-header {
  margin-bottom: 20px;
}

.excerpt-header h3 {
  color: #000000;
  margin: 0px 0px 10px 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
}

.excerpt-header a {
  text-decoration: none;
}

.excerpt-header a:hover {
  text-decoration: underline;
}

.excerpt-header ul {
  padding: 0px;
}

ul.post-info {
  padding: 0px;
  margin: 0px 0px 50px 0px;
}

ul.post-info li {
  display: inline;
  list-style: none;
}

li.post-date {
  background: url(./genericons/time.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
}

li.post-author {
  background: url(./genericons/user.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
  margin-left: 35px;
}

li.post-category {
  background: url(./genericons/category.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
  margin-left: 35px;
}
