<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <title>Posts in the category "{{ page.title }}"</title>
    {% include mathjax.html %}
  </head>

  <body>
    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <!-- NAVIGATION -->
    <nav>{% include navigation.html active=page.title %}</nav>

    <section id="content">
      {% include browse-menu.html %}

      <h1>Posts in the category {{ page.title }}</h1>

      {% if page.title == "Publications" %}
      For a more comprehensive list of publications by Andrej Bauer, please visit:
      <ul>
      <li><a href="https://dblp.org/pers/hd/b/Bauer:Andrej">Andrej Bauer @ DBLP</a></li>
      <li><a href="http://www.andrej.com/bibliography/">Andrej Bauer @ COBISS</a></li>
      </ul>
      {% endif %}

      {% for post in page.posts %}
      {% include excerpt.html post=post %}
      {% endfor %}

      {% include browse-menu.html %}
    </section>

    {% include footer.html %}
  </body>
</html>
