<!DOCTYPE html>
<html>
{% assign year = page.date | date: "%Y" %}
  <head>
    {% include meta.html %}
    <title>Posts in the year {{year}}</title>
  </head>

  <body>
    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <!-- NAVIGATION -->
    <nav>{% include navigation.html %}</nav>

    <section id="content">
      {% include browse-menu.html %}

      <h1>Posts in the year {{ year }}</h1>

      {% for post in page.posts %}
      {% include excerpt.html post=post %}
      {% endfor %}

      {% include browse-menu.html %}
    </section>

    {% include footer.html %}
  </body>
</html>
