<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <title>Posts in the category "{{ page.title }}"</title>
  </head>

  <body>
    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <!-- NAVIGATION -->
    <nav>{% include navigation.html active=page.title %}</nav>

    <section id="content">
      {% include browse-menu.html %}

      <h1>Posts in the category {{ page.title }}</h1>

      {% for post in page.posts %}
      {% include excerpt.html post=post %}
      {% endfor %}

      {% include browse-menu.html %}
    </section>

    {% include footer.html %}
  </body>
</html>
