<!DOCTYPE html>
<html>

  <head>
    {% include meta.html %}
    <title>{{site.name}} | {{page.title}}</title>
    {% include mathjax.html %}
  </head>

  <body>
    <!-- HEADER -->
    {% include header.html %}
    <!-- NAVIGATION -->
    <nav>{% include navigation.html active="post" %}</nav>

    <!-- MAIN CONTENT -->
    <section id="content">
      <div class="previous-next-post">
      {% if page.next.url %}
      <div class="next-post">
      ← <a class="meta" href="{{page.next.url}}">{{page.next.title | truncate: 40 }}</a>
      </div>
      {% endif %}

      {% if page.previous.url %}
      <div class="previous-post">
      <a class="meta" href="{{page.previous.url}}">{{page.previous.title | truncate: 40}}</a> →
      </div>
      {% endif %}
      </div>

      <h1 class="post-title" class="draft">{{ page.title}}</h1>
      {% include post_info.html date=page.date author=page.author categories=page.categories %}
      {{ content }}

      <!-- COMMENTS -->
      {% include comments.html %}

    </section>

    <!-- FOOTER -->
    {% include footer.html %}
  </body>
</html>
